<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
        <!-- importmap -->
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h3>The Integrated Theatre System</h3>
        <span id="login-out-button">
          {% if app.user %}
            <a href="{{ logout_path() }}">Log Out {{ app.user.userIdentifier }}</a>
          {% else %}
            <a href="{{ path('login') }}">Log In</a>
          {% endif %}
        </span>
        </header>
        <main class="main">
            <div class="main__inner">
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
