{% extends 'layouts/base.html.twig' %}

{% block body %}
<a href="{{ path('show.create') }}" class="button">Add</a>
<table id="shows">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Season</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Actions</th>
    </thead>
    {% for show in shows %}
    <tr data-show-id="{{ show.id }}">
        <td>{{ show.name }}</td>
        <td>{{ show.description }}</td>
        <td>{{ show.year }}</td>
        <td>{{ show.semester }}</td>
        <td>
            {% if show.season is not empty %}
            {{ show.season.name }}
            {% else %}
            Season unknown
            {% endif %}
        </td>
        <td>{{ show.createdAt|date('Y-m-d H:i:s') }}</td>
        <td>{{ show.updatedAt|date('Y-m-d H:i:s') }}</td>
        <td><a href="{{ path('show.update', {id: show.id}) }}" class="button">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
