{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="show">
    <h1>
        {{ show.name }}
    </h1>
    <p>
        {{ show.createdAt|date }}
    </p>
    <p>
        {{ show.updatedAt|date }}
    </p>

<div class="show__cast-and-crew">
<div class="show__cast">
    <ul>
        {% for member in show.castMembers %}
            <li data-cast-member-id="{{ member.id }}">{{ member.person.name }}: {{ member.role }}</li>
        {% endfor %}
    </ul>
    {{ form(create_cast_member_form) }}
</div>
<div class="show__crew">
    <ul>
        {% for member in show.crewMembers %}
            <li data-crew-member-id="{{ member.id }}">{{ member.person.name }}: {{ member.role.name }}</li>
        {% endfor %}
    </ul>
    {{ form(create_crew_member_form) }}
</div>
</div>
</div>
{% endblock %}
