{% extends 'layouts/base.html.twig' %}

{% block title %}{{ show.name }}{% endblock %}

{% block body %}
<div class="show">
    <div class="show__header">
    <h1>
        {{ show.name }}
    </h1>
    <a class="button" href="{{ path('show.update', {id: show.id}) }}">Edit</a>
    </div>
    <p>{{ show.description|nl2br }}</p>
    <p>{{ show.createdAt|date }}</p>
    <p>{{ show.updatedAt|date }}</p>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Cast</div>
                <ul class="list-group list-group-flush">
                    {% for member in show.castMembers %}
                        <li data-cast-member-id="{{ member.id }}" class="list-group-item">
                            {{ member.person.name }}: {{ member.role }}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a
                            class="btn btn-primary"
                            href="{{ path('crew-member.create', {showId: show.id}) }}"
                            >
                            Add
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Crew</div>
                <ul class="list-group list-group-flush">
                    {% for member in show.crewMembers %}
                        <li data-crew-member-id="{{ member.id }}" class="list-group-item">
                            {{ member.person.name }}: {{ member.role.name }}
                            {% if member.notes is not empty -%}({{ member.notes }}){%- endif %}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a
                            class="btn btn-primary"
                            href="{{ path('cast-member.create', {showId: show.id}) }}"
                            >
                            Add
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}
