{% extends 'layouts/base.html.twig' %}

{% block title %}{{ show.name }}{% endblock %}

{% block body %}
<div class="show">
    <h1>
        {{ show.name }}
    </h1>
    <p>
        {{ show.createdAt|date }}
    </p>
    <p>
        {{ show.updatedAt|date }}
    </p>

    <div class="show__cast-and-crew">
        <div class="show__cast">
            <h3>Cast</h3>
            <ul>
                {% for member in show.castMembers %}
                    <li data-cast-member-id="{{ member.id }}">{{ member.person.name }}: {{ member.role }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('cast-member.create', {showId: show.id}) }}">Add</a>
        </div>
        <div class="show__crew">
            <h3>Crew</h3>
            <ul>
                {% for member in show.crewMembers %}
                    <li data-crew-member-id="{{ member.id }}">
                        {{ member.person.name }}: {{ member.role.name }}
                        {% if member.notes is not empty -%}({{ member.notes }}){%- endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('crew-member.create', {showId: show.id}) }}">Add</a>
        </div>
    </div>
</div>
{% endblock %}
