{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="row">
    <h3 class="col-8">Seasons</h3>
    <div class="col-4 d-flex justify-content-end">
        <a href="{{ path('season.create') }}" class="btn btn-primary">Add</a>
    </div>
</div>
<table class="table" id="seasons">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Colour</th>
    <th>Actions</th>
    </thead>
    {% for season in seasons %}
    <tr data-season-id="{{ season.id }}">
        <td>{{ season.name }}</td>
        <td>{{ season.description }}</td>
        <td style="color: {{ season.colour }}; background-color: {{ season.colour }}">
            {{ season.colour }}
        </td>
        <td><a href="{{ path('season.update', {id: season.id}) }}" class="button">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
