{% extends 'layouts/base.html.twig' %}

{% block body %}
<a href="{{ path('person.create') }}" class="button">Add</a>
<table id="people">
    <thead>
    <th>Name</th>
    <th>Bio</th>
    <th>Start Year</th>
    <th>End Year</th>
    <th>User Email</th>
    <th>Actions</th>
    </thead>
    {% for person in people %}
    <tr data-person-id="{{ person.id }}">
        <td>{{ person.name }}</td>
        <td>{{ person.bio }}</td>
        <td>{{ person.startYear }}</td>
        <td>{{ person.endYear }}</td>
        <td>{{ person.user ? person.user.email : 'N/A' }}</td>
        <td>
            <a href="{{ path('person.update', {id: person.id}) }}" class="button">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
