{% set links = {
    'training-category.index': 'Training Categories',
    'training-item.index': 'Training Items',
    'person.index': 'People',
    'training-session.index': 'Training Sessions',
    'show.index': 'Shows',
    'season.index': 'Seasons',
}


%}
<header class="header">
    <h3>The Integrated Theatre System</h3>
    {% for route, text in links %}
        <a href="{{ path(route) }}">{{ text }}</a>
    {% endfor %}
    <span class="header__logout-button">
        {% if app.user %}
        <a href="{{ logout_path() }}">Log Out {{ app.user.userIdentifier }}</a>
        {% else %}
        <a href="{{ path('login') }}">Log In</a>
        {% endif %}
    </span>
</header>
