{% set nav = [
    {
        'title': 'Training',
        'content': {
            'training-category.index': 'Categories',
            'training-item.index': 'Items',
            'training-session.index': 'Sessions',
        }
    },
    {
        'title': 'Shows',
        'content': {
            'show.index': 'Shows',
            'season.index': 'Seasons',
            'crew-role.index': 'Crew Roles',
        }
    },
    {
        'title': 'People',
        'route': 'person.index',
    }
] %}
<header class="header">
    <h3>The Integrated Theatre System</h3>
    {% for item in nav %}
        {% if item.content is defined %}
        <div class="header__dropdown">
            <span>{{ item.title }}</span>
            <div class="header__dropdown-content">
                {% for route, text in item.content %}
                    <a href="{{ path(route) }}">{{ text }}</a>
                {% endfor %}
            </div>
        </div> 
        {% elseif item.route is defined and item.title is defined %}
            <a href="{{ path(item.route) }}">{{ item.title }}</a>
        {% endif %}
    {% endfor %}
    <span class="header__logout-button">
        {% if app.user %}
        <a href="{{ logout_path() }}">Log Out {{ app.user.userIdentifier }}</a>
        {% else %}
        <a href="{{ path('login') }}">Log In</a>
        {% endif %}
    </span>
</header>
